{% assign owner = site.data.owner %}
{% assign social = site.data.social.footer %}
{% assign feed = site.data.nav.footer.feed %}
{% assign about = site.data.copy.global.about %}

<footer class="page-footer">
    <div class="page-footer-owner">
        <div class="container">
            <div class="row my-3">
                <div class="col-md-12">
                    <h2>{{ owner.name }} <span class="float-right">🌹</span></h1>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-8 col-sm-12">
                    <p class="my-3">{{ about }}</p>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-red m-0">Socials</h3>
                    <!-- Social media links -->
                    <ul class="my-3">
                        {% for so_link in social %}
                        <li class="social-item">
                            {% if so_link.url %}
                            <!-- use fixed-width (fw) variants of these icons. -->
                             <!-- spacing is added to the text element -->
                            <i class="{{ so_link.icon }} fa-fw fa-beat" style="color: #ec1f27"></i>
                            <a href="{{ so_link.url }}"> {{ so_link.label }}</a>
                            {% else %}
                            <strong> {{ so_link.label }}</strong>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-red m-0">Sitemap</h3>
                    <ul class="my-3">
                        {% for fd_link in feed %}
                        <li>
                            <i class="{{ fd_link.icon }}"></i> <a href="{{ fd_link.url | relative_url }}">{{ fd_link.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer-copyright">
        <div class="container text-center">
            <img src="{{ site.logo | relative_url }}" alt="{{ site.title }} logo" width="64">
        </div>
    </div>
</footer>
