.two-columns {
  display: flex;
  flex-wrap: wrap;
  // the following lines add margins between the text and the edge of the page.
  max-width:80%;
  margin: auto;
}

.two-columns > * {
  width: 100%;
  padding: 1rem;
}

// the two following rules are for images in a column, if an image needs to
// be resized, specify it in the style of the div that contains the image.
.column-image-cnt {
  display: inline-block;
  max-width: 460px;
}

.column-image-cnt img {
  max-width: 100%;
  height: auto;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .two-columns > * {
    width: 50%;
  }
}