.two-columns {
  display: flex;
  flex-wrap: wrap;
}

.two-columns > * {
  width: 100%;
}

// the two following rules are for images in a column, if an image needs to
// be resized, specify it in the style of the div that contains the image.
.column-image-cnt {
  display: inline-block;
  max-width: 30rem;
}

.column-image-cnt img {
  max-width: 100%;
  height: auto;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .two-columns > * {
    width: 50%;
  }
}
