@media screen and (max-width: 991px) {
  .join-button-container {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .join-button-container {
    padding-left: 0.75rem;
  }
}

.join-button {
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;

  font-weight: 800;
  font-size: var(--size-sm);
  padding: 0.25rem 0.5rem;
  width: 6.5rem;
}

.join-button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

// social media stuff

@media screen and (max-width: 1294px) {
  .header-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    margin-left: 1rem;
  }
}

.hover-bounce:hover {
  animation-name: fa-bounce;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
